$ig:#b14eeb;
$wp: #25d366;
$fb: #3865c5;
$mail: rgb(218, 218, 218);

@mixin redes ($hover) {

    padding: 10px;
    color: #fff;

    &:hover{
        color: $hover;
        transform: scale(1.2);
        transition: all 0.4s;
    }
}