$color_principal: rgb(75, 0, 110);
$color_principal2:  rgb(240, 216, 55);
$color_secundario1: gray;
$color_secundario2: white;
$font1: RiseOfKingdom;
$font2: Aileron;
$background-color: lightgrey;
$background-colorT: rgba(199, 199, 199, 0.6);
