@font-face {
    font-family: RiseOfKingdom;
    src: url('../media/fonts/riseofkingdom.ttf');
    font-family: Aileron;
    src: url('../media/fonts/Aileron-Bold.otf')
}


html {
    position: relative;
    min-height: 100%;
}


/*---------------Header---------------*/

#encabezado {
    position: relative;
}

.titulo {
    background-color: rgb(75, 0, 110);
    color: rgb(240, 216, 55);
    font-family: RiseOfKingdom;
    font-size: 400%;
    border: solid 4px rgb(240, 216, 55);
    margin-top: 0px;
    border-radius: 10px;
}

.usuario {
    list-style: none;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 1;
    font-size: 20px;
    color: rgb(240, 216, 55);
}

.usuario li {
    display: inline;
}

.login {
    color: rgb(240, 216, 55);
    background: none;
    border: none;
}

/*---------------Nav---------------*/

nav ul{
    font-size: 30px;
    /*overflow: hidden;
    background-color: rgb(75, 0, 110);
    border: 4px solid rgb(240, 216, 55);
    color: black;
    text-align: center;
    border-radius: 10px;*/
}

nav ul li {
    display: inline;
}

/*nav ul li a {
    float: left;
    display: block;
    color: rgb(240, 216, 55);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

nav ul li a:visited {
    color: rgb(75, 0, 110);
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
    text-decoration: none;
}

nav ul li a:active {
    color: rgb(240, 216, 55);
    text-decoration: underline;
}

/*nav input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 15px;
    margin-right: 16px;
    font-size: 20px;
}*/

.btn {
    color: rgb(75, 0, 110);
    border-color: rgb(75, 0, 110);
}

/*---------------Banner---------------*/
.banner{
    width:100%;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 10px 8px 10px #141414a6;
}
         
.banner img {
    width:100%;
}

/*---------------Body---------------*/
body {
    background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/images/fondo.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    font-family: Aileron;
    position: relative;
    padding-bottom: 15em;
}

#descripcion {
    color: rgb(75, 0, 110);
    text-shadow: 2px 2px rgba(240, 216, 55, 0.6);
    background-color: rgba(199, 199, 199, 0.6);
    /*font-size: 35px;
    margin-top: 120px;
    margin-bottom: 50px;*/   
}

.subTitulo {
    color: rgb(75, 0, 110);
    background-color: rgba(199, 199, 199, 0.6);
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px rgb(240, 216, 55);
    margin-bottom: 0;
}

button {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

article {
    background-color: lightgray;
    border-radius: 15px;
    text-align: center;
    margin-top: 0;
    box-shadow: 5px 10px 8px 10px #141414a6;
}

section article img {
    width: 100px;
    height: 100px;
}

/*---------------Footer------------*/
footer {
    margin-top: 2rem;
    background-position: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    }
        
    footer .conteiner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center; 
    }
          
    footer .conteiner .fuente-subtitulo {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600; 
    color: white;
    }
          
    footer .conteiner .footer_ {
    display: flex;
    justify-content: space-around; 
    }
            
    footer .conteiner .footer_ a {
    font-size: 3rem; 
    color: white;
    }
              
    footer .conteiner .footer_ a .fa-instagram {
    padding: 10px;
    color: #fff; 
    }
    
    footer .conteiner .footer_ a .fa-instagram:hover {
    color: #eb4ed4;
    transform: scale(1.2);
    transition: all 0.4s; 
    }
              
    footer .conteiner .footer_ a .fa-facebook {
    padding: 10px;
    color: #fff; 
    }
                
    footer .conteiner .footer_ a .fa-facebook:hover {
    color: #3865c5;
    transform: scale(1.2);
    transition: all 0.4s; 
    }
              
    footer .conteiner .footer_ a .fa-envelope {
    padding: 10px;
    color: #fff;; 
    }
                
    footer .conteiner .footer_ a .fa-envelope:hover {
    color: #808080;
    transform: scale(1.2);
    transition: all 0.4s; 
    }
              
    footer .conteiner .footer_ a .fa-whatsapp {
    padding: 10px;
    color: #fff; 
    }
                
    footer .conteiner .footer_ a .fa-whatsapp:hover {
    color: #25d366;
    transform: scale(1.2);
    transition: all 0.4s; 
    }

/*--------------Contacto---------------*/
/*.casillaContacto {
    background-color: lightgray;
    margin-top: 100px;
    border-radius: 10px;
}
.casillaContacto textarea {
    width: 98%;
}*/

.formulario {
    background-color: lightgray;
    margin-top: 100px;
    border-radius: 10px;
}

/*---------------Grid---------------*/

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

div {
    grid-area: div
}

section {
    grid-area: section;
    column-gap: 10px;
    row-gap: 15px;
}

footer {
    grid-area: footer;
}

#principal, 
section {
    display: grid;
}

#principal {
    row-gap: 10px;
}

/*---------------Queries---------------*/
@media screen and (max-width: 756px) {
    #principal {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4% 4% 37% auto 14%;
        grid-template-areas: "header" "nav" "div" "section" "footer";
    }
    
    section {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .subTitulo {
        margin-top: 60px;
    }

    nav {
        justify-content: space-around;
    }

    .usuario{
        display: none;
    }
}

@media screen and (min-width: 757px) {
    #principal {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4% 6% 39% auto 16%;
        grid-template-areas: "header" "nav" "div" "section" "footer";
    }
    
    section {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin-top: 70px;
    }

    .subTitulo {
        margin-top: 80px;
    }

    .usuario {
        display: inline
    }
}